.form1
{ 	
	border: 1px solid orange;
    width: 35%;
    margin-left: 480px;
    margin-top: 60px;
}
#fname
{
	 width: 79%;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-left: 10px;
}
#lname
{
    width: 79%;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-left: 10px;
}

#number
{
    width: 79%;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-left: 10px;
}

#email
{
    width: 79%;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-left: 10px;
}  
#password
{
    width: 79%;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-left: 10px;

}
#confirm_password
{
    width: 79%;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-left: 10px;
}
.form1 h1
{
	text-align: center;
    color: orange;
}
.btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 10px;
    background-color: orange;
    color: white;
}
p
{
   
    color: red;
    padding-left: 40px;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.select
{
    width: 82%;
    height: 46px;
    display: block;
    margin: 25px auto;
    padding-left: 5px;
}

.txt
{
    width: 81%;
    height: 110px;
    display: block;
    margin: 25px auto;
    padding-left: 5px;
}